<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}

    <style>
        .classGreen {
            opacity: 0.7;
        }

        .classRed {
            opacity: 0.2;
        }

        .delete {
            height: 24;
            width: 24;
            background: url('https://cdn3.iconfinder.com/data/icons/line/36/cancel-48.png') no-repeat;
            position: relative;
            left: 35px;
            top: 10px;
            background-size: cover;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.webImage').on("click", function (e) {
         var $input = $( this );
         var src = $input.attr("src")
         console.log(window.location.href)
         body = { "url": src }
         $(this).remove()

         $.ajax({
          type: "PUT",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
            <!--$(this).remove()-->
         },
          failure: function(errMsg) {
            <!--$(this).addClass('classRed');-->
         }
        });

       });

       $('.localImage').on("click", function (e) {
         var $input = $( this );
         var src = $input.attr("src")
         body = { "img": src }
         $(this).remove()
         $.ajax({
          type: "DELETE",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
         },
          failure: function(errMsg) {
         }
        });

       });


        $('body').on("click", 'img.dir', function (e) {
         window.location.href = window.location.href + "/" + $(this).parent().attr('id')

       });

       $('body').on("click", 'input.dir', function (e) {
         var body = { "dir": $(this).parent().attr("id") }
         $(this).parent().remove()
         $.ajax({
          type: "DELETE",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
            <!--$(this).remove()-->
         },
          failure: function(errMsg) {
            <!--$(this).addClass('classRed');-->
         }
        });
       });

        $('.createDir').on("click", function (e) {
         var dirName = $('#dirName').val();
         var body = { "dir": dirName };

         var dirExample = $(".dirSection").first().clone();
         dirExample.attr("id", dirName);
         dirExample.children("p").text(dirName);
         $( ".dirs" ).prepend(dirExample);

         $.ajax({
          type: "PUT",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
         },
          failure: function(errMsg) {
         }
        });
       });


        $('.renameDir').on("click", function (e) {
         var dirName = $('#newDirName').val();
         var body = { "renameDir": dirName };
         console.log(window.location.href);
          $.ajax({
          type: "DELETE",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){

         },
          failure: function(errMsg) {
         }
        });

       });




    });
    </script>


</head>
<body>
<div>Image Turk: <a href="/index">Home</a></div>
<hr>
{% block content %}{% endblock %}
</body>
</html>
