<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
      $('img').on("click", function (e) {
         var $input = $( this );
         var src = $input.attr("src")
         console.log(src)
         body = { "url": src }
         console.log(body)

         $.ajax({
          type: "POST",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: "/images",
          data: JSON.stringify(body),
          success: function(html){
              alert(src);
         },
          failure: function(errMsg) {
            alert(errMsg);
         }
        });

       });
    });



    </script>


</head>
<body>
<div>Image Turk: <a href="/index">Home</a></div>
<hr>
{% block content %}{% endblock %}
</body>
</html>
