<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}

    <style>
        .classGreen {
            opacity: 0.7;
        }

        .classRed {
            opacity: 0.2;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.webImage').on("click", function (e) {
         var $input = $( this );
         var src = $input.attr("src")
         console.log(window.location.href)
         body = { "url": src }
         $(this).remove()

         $.ajax({
          type: "PUT",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
            <!--$(this).remove()-->
         },
          failure: function(errMsg) {
            <!--$(this).addClass('classRed');-->
         }
        });

       });

       $('.localImage').on("click", function (e) {
         var $input = $( this );
         var src = $input.attr("src")
         console.log(window.location.href)
         body = { "path": src }
         $(this).remove()
         $.ajax({
          type: "DELETE",
          context: this,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: window.location.href,
          data: JSON.stringify(body),
          success: function(html){
            <!--$(this).remove()-->
         },
          failure: function(errMsg) {
            <!--$(this).addClass('classRed');-->
         }
        });

       });


        $('.dir').on("click", function (e) {
         var $input = $( this );
         window.location.href = window.location.href + "/" + $(this).attr('id')

       });



    });
    </script>


</head>
<body>
<div>Image Turk: <a href="/index">Home</a></div>
<hr>
{% block content %}{% endblock %}
</body>
</html>
