/*
    Main styles
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Fira Sans';

  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
}

.App__container {
  width: 100%;
  height: 100%;
}

.App__TreeSide{
  position: relative;

  display: inline-flex;

  width: 250px;
  height: 100vh;
  padding-top: 50px;

  vertical-align: top;

  background-color: #F7F7F7;
}

.App__TileSide {
  position: relative;

  display: inline-block;

  width: calc(100% - 250px);
  height: 100%;
  padding: 50px 40px 80px 40px;
}

.App__TreeNav, .App__TileNav {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  background: url('/assets/wave_bg.png') repeat;
}


/*
    Folder Tree
*/

.App__TreeNav__back-icon {
  display: inline-block;

  margin: 25px 105px 15px;

  transition: transform .3s ease;
}

.App__TreeNav__back-icon img {
  display: block;

  margin: auto;
}

.App__TreeNav__back-icon:hover {
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(360deg);
}

.Folder__Tree__container {
  width: 250px;
  height: 54px;
}

.Folder__Tree__icon {
  display: inline-block;

  width: 40px;
  height: 30px;
  margin: 11px;
}

.Folder__Tree__name {
  display: inline-block;
  overflow: hidden !important;

  width: 140px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.Folder__Tree__container:hover {
  cursor: pointer;
}

.Folder__Tree__container:hover {
  background-color: #ECECEC;
}



/*
    Folder Tile
*/

.Folder__Tile__container {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

.Folder__Tile__folder-container {
  position: relative;
  z-index: 10;

  display: inline-block;

  width: 100px;
  height: 105px;
  margin-top: 30px;
  margin-bottom: 30px;

  text-align: center;
}

.Folder__Tile__folder-container {
  margin-right: 30px;
}

.Folder__Tile__icon {
  width: 100px;
  height: 75px;
  margin-bottom: 10px;
}

.Folder__Tile__name {
  display: inline-block;
  overflow: hidden !important;

  width: 85px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
}

.Folder__Tile__folder-container:hover {
  cursor: pointer;
}

.Folder__Tile__folder-container:hover::after {
  position: absolute;
  z-index: -5;
  top: -10px;
  right: -7px;
  bottom: -10px;
  left: -7px;

  content: '';

  border-radius: 8px;
  background-color: #F7F7F7;
}

.Folder__Tile__image {
  max-height: 90px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #d6d6d6;
}

.Folder__Tile__image {
  margin-right: 30px;
}
