/*
    Main styles
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Fira Sans';

  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
}

.App__container {
  width: 100%;
  height: 100%;
}

.App__TreeSide{
  position: relative;

  display: inline-flex;

  width: 250px;
  height: 100vh;
  padding-top: 50px;

  vertical-align: top;

  background-color: #F7F7F7;
}

.App__TileSide {
  position: relative;

  display: inline-block;

  width: calc(100% - 250px);
  height: 100%;
  padding: 50px 40px 80px 40px;
}

.App__NavBar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 50px;

  background: url('/assets/wave_bg.png') repeat;
}

.App__NavBar__container {
  display: flex;

  padding: 15px 20px;

  transform: translateZ(0px);

  color: #7A7A7A;

  font-size: 14px;
  font-weight: 500;

  align-items: stretch;
}

.App__NavBar__container img {
  margin-right: 10px;
}

.App__NavBar__container:hover {
  cursor: pointer;

  color: #4A4A4A;
  background-color: rgba(210, 210, 210, 0.3);
}

.input {
  height: 36px;
  padding: 7px 10px 4px;

  border: 1px solid #D2D2D2;
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 2px 0 #D2D2D2;

  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 300;
}

::-webkit-input-placeholder {font-style: italic;}
::-moz-placeholder          {font-style: italic;}/* Firefox 19+ */
:-moz-placeholder           {font-style: italic;}/* Firefox 18- */
:-ms-input-placeholder      {font-style: italic;}

.btn, .btn--cancel {
  display: inline-block;

  height: 34px;
  padding: 0px 30px;

  color: #848584;

  font-weight: 500;
  line-height: 36px;
}

.btn {
  height: 34px;
  padding: 0px 30px;

  transition: all .05s ease-out;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #848584;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background: linear-gradient(to bottom, #fff 0%, #ECECEC 100%);
  background-color: #fff;
  box-shadow: inset 0 -3px 12px rgba(255,255,255, .5), 0 2px 0 #d2d2d2;

  font-size: 13px;
  font-weight: 500;
  line-height: 36px;
}

.btn:hover {
  cursor: pointer;

  color: #4A4A4A;
}

.btn:active {
  background: linear-gradient(to bottom, #ECECEC 0%, #fff 100%);
  box-shadow: inset 0 -3px 12px rgba(255,255,255, .5), 0 0 0 #d2d2d2;
}

.btn--cancel {
  font-size: 14px;
}

.btn--cancel:hover {
  cursor: pointer;

  color: #4A4A4A;
}


/*
    Modals
*/

.Modal__back, .Modal__dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Modal__back {
  z-index: 50;

  background-color: rgba(0,0,0,0.5);
}

.Modal__dialog {
  z-index: 100;

  width: fit-content;
  height: fit-content;
  margin: auto;

  border-radius: 4px;
  background: url('/assets/wave_bg.png') repeat;
}

.Modal__dialog__title {
  position: absolute;
  top: -20px;

  padding: 5px 20px 0;

  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-color: #FAFAFA;
}

.Modal__dialog__title__name {
  display: inline-block;

  margin-left: 10px;

  vertical-align: text-top!important;

  color: #7a7a7a;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}



/*
    Modal Rename
*/

.Modal__dialog__rename {
  width: 400px;
  height: 170px;
  padding: 25px 30px 30px 20px;
}

.Modal__dialog__rename .btn, .Modal__dialog__rename .input {
  vertical-align: top;
}

.Modal__dialog__rename .input {
  display: block;

  width: 330px;
  margin: 15px 0 25px;
}



/*
    Modal Upload
*/

.Modal__dialog__upload {
  width: 500px;
  height: 330px;
  margin: 15px 0 0;
  padding: 25px 30px 30px 20px;
}

.Upload__area {
  position: relative;

  margin-bottom: 30px;

  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-color: #fff;
}

.file-input:hover {
  cursor: pointer;
}

.Upload__area__img {
  display: block;

  margin: 35px auto 15px;
}

.Upload__area__title {
  display: block;

  width: 160px;
  margin: 0 auto 30px;

  text-align: center;

  color: #7A7A7A;
}

.Upload__area__title--drag {
  font-size: 24px;
  font-weight: 500;
}

.Upload__area__title--select {
  font-size: 16px;
  font-weight: 300;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}


/*
    Folder Tree
*/

.App__TreeNav__back-icon {
  position: relative;

  display: block;

  width: 100%;
  height: 70px;

  cursor: pointer;
}

.App__TreeNav__back-icon::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 25px;
  height: 25px;
  margin: auto;

  content: "";
  transition: transform .3s ease-in-out;

  background-image: url("/assets/back.svg");
  background-repeat: no-repeat;
}

.App__TreeNav__back-icon:hover::after {
  transform: rotate(360deg);
}

.Folder__Tree__container, .Folder__Tree__container--open {
  display: flex;

  width: 250px;
  height: 54px;

  align-items: center;
}

.Folder__Tree__icon {
  display: inline-block;

  width: 40px;
  height: 30px;
  margin: 11px;
}

.Folder__Tree__name {
  display: inline-block;
  overflow: hidden !important;

  width: 140px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.Folder__Tree__container:hover {
  cursor: pointer;

  background-color: #ECECEC;
}

.Folder__Tree__container--open {
  cursor: default;

  background-color: #ECECEC;
}

.Folder__Tree__container--open > .Folder__Tree__name {
  color: #7A7A7A;

  font-weight: 500;
}


/*
    Folder Tile
*/

.Folder__Tile__container {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

.Folder__Tile__folder-container {
  position: relative;
  z-index: 10;

  display: inline-block;

  width: 100px;
  height: 105px;
  margin-top: 30px;
  margin-bottom: 30px;

  text-align: center;
}

.Folder__Tile__folder-container {
  margin-right: 30px;
}

.Folder__Tile__icon {
  width: 100px;
  height: 75px;
  margin-bottom: 10px;
}

.Folder__Tile__name {
  display: inline-block;
  overflow: hidden !important;

  width: 85px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
}

.Folder__Tile__folder-container:hover {
  cursor: pointer;
}

.Folder__Tile__folder-container:hover::after {
  position: absolute;
  z-index: -5;
  top: -10px;
  right: -7px;
  bottom: -10px;
  left: -7px;

  content: '';

  border-radius: 8px;
  background-color: #F7F7F7;
}

.Folder__Tile__image {
  max-height: 90px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #d6d6d6;
}

.Folder__Tile__image {
  margin-right: 30px;
}
