/*
    Main styles
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Fira Sans';

  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

* {
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
}

.App--container {
  width: 100%;
  height: 100%;
}

.App--TreeSide{
  position: relative;

  display: inline-flex;

  width: 250px;
  height: 100%;
  padding-top: 50px;

  vertical-align: top;

  background-color: #F7F7F7;
}

.App--TileSide {
  position: relative;

  display: inline-block;

  width: calc(100% - 250px);
  height: 100%;
  padding: 50px 40px 80px 40px;
}

.App--TreeNav, .App--TileNav {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  background: url('/assets/wave_bg.png') repeat;
}


/*
    Dir Tree
*/

.Dir--Tree--container {
  width: 250px;
  height: 54px;
}

.Dir--Tree--icon {
  display: inline-block;

  width: 40px;
  height: 30px;
  margin: 11px;
}

.Dir--Tree--name {
  display: inline-block;
  overflow: hidden !important;

  width: 140px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.Dir--Tree--container:hover {
  cursor: pointer;
}

.Dir--Tree--container:hover {
  background-color: #ECECEC;
}



/*
    Dir Tile
*/

.Dir--Tile--container {
  position: relative;
  z-index: 10;

  display: inline-block;

  width: 100px;
  height: 105px;
  margin-top: 30px;

  text-align: center;
}

.Dir--Tile--container:not(:last-child) {
  margin-right: 30px;
}

.Dir--Tile--icon {
  width: 100px;
  height: 75px;
  margin-bottom: 10px;
}

.Dir--Tile--name {
  display: inline-block;
  overflow: hidden !important;

  width: 85px;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 300;
}

.Dir--Tile--container:hover {
  cursor: pointer;
}

.Dir--Tile--container:hover::after {
  position: absolute;
  z-index: -5;
  top: -10px;
  right: -7px;
  bottom: -10px;
  left: -7px;

  content: '';

  border-radius: 8px;
  background-color: #F7F7F7;
}
